<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>MILE.fm</title>
	
	<base href="<?php echo HTTPROOT; ?>"/>
	
	<link rel="stylesheet" href="template/splash/css/style.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="favicon.ico" />
      
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="A square mile of user generated images at 72dpi.  Search by comments or tags, and make new friends."/>
	<meta name="keywords" content="square mile, pictures, community, create, find, found, images, tags, alpha, 72 dpi, social, vote, private, fun"/>
	
</head>

<body>

<div class="mainContent">
	<?php echo $viewHtml; ?>
	
	<?php echo $debug; ?>
	<div class="push"></div>
</div>

<div id="footer">
	&copy; <?php echo date('Y' ); ?> <a href="http://www.ellak.gr/fonts/mgopen/index.en.html">MILE.fm looks best with MgOpen Moderna installed</a><!--<a href="http://colonrightparen.com" class="smiley">: )</a> page rendered in <?php echo $rendertime; ?> seconds-->
</div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1160347-13");
pageTracker._trackPageview();
</script>


</body>
</html>
