.footBlock{
	height:432px;
	width:432px;
	position:absolute;
	border:0px solid #ddf; 
	color:#666;
	font-weight: bold;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: visible;
}

#center{
	width:9px;
	height:9px;
	position: fixed;
	left:50%;
	top:50%;
	margin: -4px 0px 0px -4px;
	background-image:url(../../../static/center.gif);
}