form {
    margin: 0;
    padding: 0;
}

.buttonContainer {
    clear: both;
    margin: auto;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

.inputContainer {
    clear: both;
}

.inputContainer input {
    float: left;
}

.inputContainer label {
    float: left;
    width: 150px;
    text-align: right;
    border-width: 0px;
    font-size: .8em;
    line-height: 2em;
}

.stdButton {
    background-color: #D16A38;
    border: 1px solid #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-family: "MGOpen Moderna Regular", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 1em;
    line-height: 1em;
    margin: 0px auto;
    padding: 0px 2px;
    text-align: center;
}

.stdButton:hover,
a.fakeButton:hover {
    background-color: #fff;
    border: 1px solid #D16A38;
    color: #D16A38;
}

a.fakeButton {
    background-color: #D16A38;
    border: 1px solid #D16A38;
    border-radius: 10px;
    clear: left;
    color: #fff;
    cursor: pointer;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: auto;
    padding: 0px 14px;
}

.stdInput {
    border: 1px solid #DA4B26;
    margin: 0px .5em 5px .5em;
    padding: 1px 2px;
    width: 120px;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 1em;
    line-height: 1em;
}

.stdText {
    border: 1px solid #DA4B26;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 1em;
    line-height: 1em;
    float: left;
    width: 15em;
    height: 10em;
    padding: 3px 2px 1px 2px;
    margin: 0px .5em 5px .5em;
}

tr.head {
    background-color: #ddd;
    color: #666;
    font-size: .8em;
}